body{
margin: 0px;
}
h1{
font-size: 50px;
font-family: 'Poppins', sans-serif;
}
p{
font-family: 'Poppins', sans-serif;
color: dimgray;
}

.half-width{
width: 40%;
float: left;
margin-left: 5%;
padding-left: 2%;
}

.half-width img{
width: 100%;
margin: 10px 20px;
padding: 10px;
}
section{
height: 600px;
padding-bottom: 100px;
}

.body-area{

padding: 20px;
}
.link-button{
text-decoration: none;
padding: 10px 20px;
border-radius: 10px;
color: white;
font-weight: 700;
background-image: linear-gradient(45deg, hotpink, DeepPink );
}
.top-banner{
background-image: url(images/header-bg.png);
}
.biography-banner{
background-image:url(images/biography-bg.png);
}
.work-area{
background-image: url(images/latest-work-bg.png);
background-repeat: no-repeat;
background-position: left;

margin: 50px 20px;
}
.work-area img{
width: 100%;
height: 100%;
}
.work-box{
border-radius: 10px;
margin: 5px;
width: 30%;
height: 60%;
float: left;
}
.client{
width: 40%;
text-align: center;
margin: auto;
padding-bottom: 30px;
}
.client h3{
font-family:"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}
.client h4{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
color: gray;
}
.client p{
color: black;
text-align: center;
font-size: 15px;
}
.footer-area{
background-image: url(images/footer-bg.png);
margin: 20px;
}
.contact{
width: 50%;
height: 20%;
padding: 10px 20px;
border-radius: 15px;
color: white;
font-weight: 700;
text-align: center;
background-image: linear-gradient(45deg, hotpink, DeepPink );
margin: auto;
}
.contact h3{
font-family: cursive;
}
.mail{
text-decoration: none;
color: white;
font-size: 30px;
font-weight: 700;
}
.contact a:visited{
color: cyan;
}


footer{
text-align: center;
font-size: 12px;
font-family: 'Poppins', sans-serif;
}
